{{ define "head_end" }}
{{ partial "stylesheet-link" "login" }}
{{ end }}

{{ define "main" }}
<article id='login'>
	{{ .Content }}
	<form method='post'>

		<input type='text' placeholder='Courriel' name='email_address' required>
		<input type='password' placeholder='Mot de passe' name='password' required>

		<button class='arrow-link'>
			<span>SE CONNECTER</span>
			<figure>
				<svg id="Group_130" data-name="Group 130" xmlns="http://www.w3.org/2000/svg" width="44.693" height="8.004" viewBox="0 0 44.693 8.004">
					<path id="arrow-right" data-name="Polygon 1" d="M4,0,8,8H0Z" transform="translate(44.693) rotate(90)" fill="#fff"/>
					<line id="Line_1" data-name="Line 1" x1="37.355" transform="translate(0 4.002)" fill="none" stroke="#fff" stroke-width="2"/>
				</svg>
			</figure>
		</button>
	</form>

	<p class='disclaimer'>
		En vous connectant, vous acceptez les 
		<a href='/legal/'>conditions générales et la politique de confidentialité</a>.
	</p>
</article>
{{ end }}
