#inspirations {
	--portrait-img-height: 580px;
}

.image-gallery {
	--num-columns: 3;

	display: grid;
	grid-template-columns: repeat(var(--num-columns), 1fr);
	grid-auto-rows: auto;
	grid-gap: var(--spacing-medium);
}

.image-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	min-height: var(--portrait-img-height);
	max-height: var(--portrait-img-height);
}

/* Per https://app.clickup.com/t/2a1gfhd */
#introduction { margin-bottom: 0; }
#inspirations { padding-top: 0; margin-top: 0; margin-bottom: 0; }
#inquiry { margin-top: 0; }


@media only screen and (min-width: 2200px) {
	#inspirations {
		--num-columns: 4;
		--portrait-img-height: 720px;
	}
}

@media only screen and (min-width: 1600px) {
	#inspirations { --num-columns: 4; }
}

@media only screen and (max-width: 992px) {
	.image-gallery { --num-columns: 2; }
}

@media only screen and (max-width: 767px) {
	.image-gallery { --num-columns: 1; }
	.image-gallery > * { text-align: center; }
}

@media only screen and (max-width: 550px) {
	section#inspirations,
	#introduction { margin-bottom: var(--spacing-huge); }
}
