@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://use.typekit.net/zjg7trr.css');

html {
	--font-header: 'dunbar-low', serif;
	--font-accent: 'dunbar-tall', serif;
	--font-sans-serif: 'Lato', sans-serif;

	--font-size-tiny: 0.75rem;
	--font-size-normal: 1rem;
	--font-size-small: 1.35rem;
	--font-size-medium: 1.5rem;
	--font-size-large: 2.25rem;
	--font-size-huge: 3.3rem;
	--font-size-insane: 5rem;
	--font-size-ludicrous: 8rem;

	--font-size-double: 2rem;

	--font-weight-bold: 600;

	--color-white: #fff;
	--color-black: #000;

	--color-light-gray: #F0F0F0;
	--color-dark-grey: #2C2D2F;

	--color-accent: #BDAE75;
	--color-accent-transparent: #BDAE7577;

	--color-background: var(--color-white);
	--color-foreground: var(--color-black);

	--spacing-small: 0.5rem;
	--spacing-tiny: calc(0.5 * var(--spacing-small));
	--spacing-medium: calc(2 * var(--spacing-small));
	--spacing-large: calc(2 * var(--spacing-medium));
	--spacing-larger: calc(2 * var(--spacing-medium));
	--spacing-huge: calc(2 * var(--spacing-large));
	--spacing-insane: calc(2 * var(--spacing-huge));


	/* Some paragraphs are constrained to a certain width */
	--max-p-width: 55ch;

	/* Height of portrait media object images. */
	--portrait-img-height: 800px;

	/* Max width for some sections that don't scale. */
	--section-max-width: 70rem;

	/*
	Media queries MUST be in this order.

	@media only screen and (min-width: 1400px) { }
	@media only screen and (max-width: 1400px) {  }
	@media only screen and (max-width: 1200px) {  }
	@media only screen and (max-width: 992px) {  }
	@media only screen and (max-width: 767px) {  }
	@media only screen and (max-width: 600px) {  }
	 */

	font-size: 22px;
}

html, body { overflow-x: hidden; }

body > main,
body > footer { background: var(--color-background); }

body {
	font-family: var(--font-sans-serif);
	line-height: 1.5;

	background: var(--color-background);
	color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-header);
}

h1 {
	font-size: var(--font-size-huge);
	font-weight: 700;
	line-height: 1;
}

h2 {
	font-size: var(--font-size-large);
	font-weight: 700;
	line-height: 1.1;
}

h3 {
	font-size: var(--font-size-medium);
	line-height: 1.5;
}


p {
	margin: var(--spacing-medium) 0;
	font-size: 1rem;
}

a {
	color: var(--color-foreground);
	transition: all 350ms;
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

a:hover,
a:focus,
a:active {
	transition: all 350ms;
	opacity: 0.65;
}

a > i[class*='fa-'] { margin-left: var(--spacing-small); }

img { max-width: 100%; }

em { font-weight: 700; }

abbr { font-weight: 700; text-decoration: underline; }

input, button { font-size: 0.7rem; }

/*
 * Document Header
 */
body > header {
	display: flex;
	flex-direction: row;
	justify-content:  space-between;
	padding: var(--spacing-medium) var(--spacing-huge);
	border-bottom: 1px solid var(--color-foreground);
	align-items: center;

	color: var(--color-background);

	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;

	background-image: linear-gradient(to bottom, #fffa, transparent);
}

body > header a {
	font-family: var(--font-accent);
	font-weight: 400;
}

body > header a.lang {
	color: var(--color-background);
	background: var(--color-foreground);
	border-radius: 50%;
	width: 3em;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

body > header > * { margin: 0 var(--spacing-medium); }
body > header > *:first-child { margin-left: 0; }
body > header > *:last-child { margin-right: 0; }

body > header #brand {
	align-self: center;
	font-size: 0;
	width: 3rem;
}
body > header #brand > img { width: 100%; max-width: 400px; }

/* Main Menu */
body > header > nav {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

body > header > nav#alt-menu {
	justify-content: flex-end;
}

body > header > nav > * { margin: 0 var(--spacing-medium); }
body > header > nav > *:first-child { margin-left: 0; }
body > header > nav > *:last-child { margin-right: 0; }

/*
 * Document body
 */
main { min-height: 70vh; }
main > * {
	padding: var(--spacing-huge);
}

main > section { margin: var(--spacing-huge) 0; }

.fixed-width {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--section-max-width);
}

.fixed-width.slim {
	max-width: calc(var(--section-max-width) * 0.9);
}

.fixed-width.fat {
	max-width: calc(var(--section-max-width) * 1.2);
}

#introduction { margin-top: 0; }

/*
 * Document Footer
 */
body > footer {
	--brand-width: 8rem;

	padding: var(--spacing-huge) 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-row-gap: var(--spacing-medium);
}

body > footer p {
	margin: 0;
	font-size: var(--font-size-tiny);
}

body > footer a {
	font-size: var(--font-size-tiny);
}

#footer-brand {
	grid-row: 1;
	grid-column: 1;
	max-width: var(--brand-width);
}

#company-description p {
	max-width: calc(1.5 * var(--brand-width));
}

#footer-brand {
	grid-column: 1;
	margin-left: var(--spacing-huge);
}
#company-description {
	grid-column: 1;
	padding-left: var(--spacing-huge);
}

#site-map, #contact-information {
	grid-column: 2;
	padding-right: var(--spacing-huge);
}

#site-map {
	grid-row: 1;
	display: flex;
	align-items: flex-end;
}
#site-map a {
	font-family: var(--font-accent);
	font-weight: 400;
}

#site-map ul {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

#site-map li { margin: 0 var(--spacing-medium); }
#site-map li:first-child { margin-left: 0; }
#site-map li:last-child { margin-right: 0; }

#company-description, #contact-information {
	border-top: 1px solid var(--color-foreground);
	padding-top: var(--spacing-medium);
}

#company-description {
	grid-row: 2;
}

#contact-information {
	grid-row: 2;
}

body > footer #contact-information h2 {
	font-size: var(--font-size-large);
}

body > footer #contact-information a { line-height: 1; }

body > footer #contact-information ul {
	display:  flex;
	margin-top: 0;
	flex-direction: row;
}

#contact-information li { margin-right: var(--spacing-small); }

/*
 * Legal
 */
#legal {
	opacity: 0.5;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	align-items: center;
	background-color: #2C2D2F;
	font-size: 0.65rem;
	color: #ffffff7f;
	padding: var(--spacing-medium) var(--spacing-huge);
}

#legal p {
	margin: 0;
	font-size: 0.65rem;
}

#legal a {
	color: #ffffff7f;
}
#legal nav a:hover { opacity: 1; }

#legal > * { flex-basis: calc(100% / 3); }

#legal > *:nth-child(2) { text-align: center; }
#legal > *:last-child { text-align: right; }

#legal > nav { display: flex; justify-content: center; }
#legal > nav > * { margin: 0 var(--spacing-medium); }
#made-by-bolean i[class*="fa-"] { margin-left: 0; }


/*
 * Common Elements
 */

.card-list {
	--num-columns: 2;
	display: grid;
	grid-template-columns: repeat(var(--num-columns), 1fr);
	grid-column-gap: var(--spacing-large);
}

.card .media { margin-bottom: var(--spacing-large); }

.card h3 {
	font-size: var(--font-size-large);
	line-height: 1.1;
}

/* Intros without a banner / hero image */
#introduction.no-banner {
	margin-top: var(--spacing-huge);
}

#introduction.no-banner p {
	max-width: var(--max-p-width);
}

/* Page titles that are rendered super tiny above a tagline; e.g. Contact page */
.breadcrumb,
h1.breadcrumb {
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: var(--spacing-small);
	text-transform: uppercase;
	letter-spacing: -.3px;
	font-size: 0.85em;
	display: flex;
	align-items: center;
}

.breadcrumb .fas { font-size: 0.6em; margin-left: .5em; margin-right: .5em; }

.breadcrumb strong { font-weight: 700; }
h1.breadcrumb + h2 {
	font-size: var(--font-size-huge);
	max-width: 50vw;
}

#breadcrumbs {
	display: flex; flex-direction: row;
	padding-bottom: 0;
}
#breadcrumbs > *:not(:last-child)::after {
	content: '>';
	margin: 0 var(--spacing-small);
}

#breadcrumbs > *:last-child { font-weight: 700; }

.pagination {
	display: flex;
	flex-align: center;
	justify-content: center;
	padding-top: var(--spacing-medium);
	padding-bottom: var(--spacing-medium);
}

.pagination .page-item {
	margin: 0 var(--spacing-small);
}

.pagination .page-item.active {
	font-weight: 700;
	text-decoration: underline;
}

.pagination .page-item.disabled { opacity: 0; }

blockquote > p:last-child::before { content: '- '; }
blockquote > p:not(:last-child)::before { content: '“'; }
blockquote > p:not(:last-child)::after { content: '”'; }

.media-object {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: var(--spacing-huge);

	padding-top: 0;
	padding-bottom: 0;
}

.media-object img {
	height: 100%;
	width: 100%;
	display: block;
	margin: 0;
	object-fit: cover;
}

.media-object .content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: var(--spacing-large) 0;

	margin: 0;
}

.media-object.with-bg-img {
	position: relative;
	padding-top: var(--spacing-large);
	padding-bottom: var(--spacing-large);
}

.media-object.with-bg-img img.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.media-object.with-bg-img *:not(.bg) { z-index: 2; }

.media-object .content > *:last-child { margin-bottom: 0; }

.media-object .media,
.media-object .content { grid-row: 1; }
.media-object .media { grid-column: 1; }
.media-object .content { grid-column: 2; }

.media-object.alt .media { grid-column: 2; }
.media-object.alt .content { grid-column: 1; }


.media-object h2 {
	font-size: var(--font-size-large);
	margin-bottom: var(--spacing-large);
}

/* Media objects with a weird bar before the first paragraph. */
.media-object.funky-bar {
	--bar-width: 6.5rem;
	--bar-height: 0.2em;
}

.media-object.funky-bar .content > p {
	position: relative;
	padding-left: calc(var(--bar-width) + var(--spacing-medium));
}
.media-object.funky-bar .content > p:first-of-type::before {
	display: block;
	content: '';
	width: var(--bar-width);
	height: var(--bar-height);
	background: var(--color-foreground);
	position: absolute;
	left: 0;
	top: 0.75em; /* 0.5em * line height */
}

/* Media objects with a taller, portrait image */
.media-object.portrait .media img {
	width: auto;
	height: 100%;
	object-fit: cover;
	min-height: var(--portrait-img-height);
	max-height: var(--portrait-img-height);
}

/* Links with emphasis; e.g. in a Call to Action */
form button,
a.action,
#attach-file {
	background: var(--color-foreground);
	color: var(--color-background);
	border: 2px solid transparent;
	border-radius: 2rem;
	padding: 0.5ch 1.5ch;
	display: inline-block;
	text-transform: uppercase;
	transition: all 350ms ease-in;
	font-family: dunbar-tall;
	letter-spacing: 1.18px;
	font-size: 0.9em;
}

a.button_secondary {
	color: var(--color-foreground);
	background-color: var(--color-background);
	border-color: var(--color-foreground);
}

a.action.button_secondary:hover,
a.action.button_secondary:active,
a.action.button_secondary:focus {
	background-color: var(--color-foreground);
	opacity: 1;
	color: var(--color-background);;
}


#attach-file {
	font-size: .7rem;
    cursor: pointer;
    display: block;
    width: fit-content;
	margin-top: .5rem;
}

#attach-file:hover,
#attach-file:active,
#attach-file:focus,
form button:hover,
form button:active,
form button:focus,
a.action:hover,
a.action:active,
a.action:focus {
	background: transparent;
	border-color: var(--color-foreground);
	color: var(--color-foreground);
}


/* Pattern-background and other sections with full-width image BGs
that aren't calls to action (which use photos with overlays) */
.full-width-bg {
	position: relative;
}

.full-width-bg > img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.full-width-bg .content {
	position: relative;
	z-index: 3;
}

.full-width-bg.dark::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #262626;
	content: '';
	display: block;
	z-index: 1;
}

.full-width-bg.dark img {
	z-index: 2;
	opacity: 1;
}

.full-width-bg.dark {
	color: var(--color-background);
}


/* Scrollable image lists
e.g. "Our Brands" on the home page */
.media-slideshow {
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: calc(-1 * var(--spacing-large));
	margin-bottom: calc(-1 * var(--spacing-large));
	padding-top: 0;
	padding-bottom: 0;
}
.media-slideshow > img {
	object-position: top left;
}
.media-slideshow .content {
	display: grid;
	grid-template-columns: 32ch 1fr;
	grid-auto-rows: auto;
	grid-column-gap: var(--spacing-large);
}

.media-slideshow h2 {
	font-size: var(--font-size-double);
	font-family: var(--font-sans-serif);
	line-height: 1.2;
	position: relative;
	display: flex;
	align-items: center;
}

.media-slideshow h2 span {
	display: block;
	position: relative;
	z-index: 5;
}

.media-slideshow .content > *:not(ul) { grid-column: 1; }
.media-slideshow .content .marquee {
	grid-row: 1/all;
	grid-column: 2;
	overflow-x: hidden;
}

.media-slideshow .marquee > ul > li {
	margin-right: var(--spacing-insane);
	display: flex;
	align-items: center;
}

.media-slideshow img {
	height: 45px;
	width: auto;
	max-width: none;
}

/* Logo sizing */
.media-slideshow img.silex { height: auto; width: 5rem; }
.media-slideshow img.concrete-lcda { height: 30px; }
.media-slideshow img.finium { height: 55px; }
.media-slideshow img.muraluxe { margin-top: 18px; }
.media-slideshow img.accent-digital { height: auto; width: 9rem; }


.marquee {
	position: relative;
	overflow-x: hidden;
	display: flex;
	align-items: center;
}

.marquee:hover ul {
	animation-play-state: paused;
}

.marquee ul {
	align-self: center;
	display: flex;
	flex-direction: row;
	width: fit-content;
	display: flex;
	position: relative;
	animation: marquee 20s linear infinite;
	animation-play-state: running;
}

#our-brands .content { overflow-x: hidden; }

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% / 3));
	}
}

.background-section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--color-foreground);
	background-size: cover;
	background-position: center center;
	padding-top: 0;
	padding-bottom: 0;
}

.background-section h2 {
	font-size: var(--font-size-large);
}

.background-section::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-image: radial-gradient(ellipse at bottom right, transparent, #fffa, #fffe);
}

.background-section .content {
	z-index: 3;
	width: 100%;
	padding: var(--spacing-insane) 0;
	padding-top: calc(2 * var(--spacing-insane));
}

.background-section .content > * {
	max-width: 750px;
}


/*
 * Responsive
 */

@media only screen and (min-width: 2500px) {
	html { font-size: 26px; }
	body > header a { font-size: 22px; }
}

@media only screen and (max-width: 1400px) {
	html { font-size: 20px; }
}

@media only screen and (max-width: 1200px) {
	html { font-size: 18px; }
	#newsletter { grid-template-columns: 1fr 1.25fr; }
	body > header > nav {
		position: static;
		transform: none;
	}
}

@media only screen and (max-width: 1100px) {
	body > header > nav > * {
		margin: 0 calc(var(--spacing-small) * 1.5);
	}
}

@media only screen and (max-width: 992px) {
	html {
		--portrait-img-height: 500px;
		--font-size-ludicrous: 6rem;
		font-size: 16px;
	}

	button,
	a.action { text-align: center; }

	input, button { font-size: 0.9rem; }
}

@media only screen and (max-width: 767px) {
	#introduction.no-banner {
		margin-top: var(--spacing-insane);
	}
	h1.breadcrumb + h2 { max-width: none; }

	h1 { font-size: var(--font-size-huge); }
	h2 { font-size: var(--font-size-large); }

	/* NOTE: See mobile-menu.css for burger styling.
	 * This stylesheet does not assume that JavaScript is enabled.
	 */
	body > header {
		flex-direction: column;
		border-bottom: 3px solid var(--color-accent-secondary);
		margin-bottom: var(--spacing-large);
		padding-bottom: var(--spacing-large);
		padding-left: var(--spacing-medium);
		padding-right: var(--spacing-medium);
	}

	body > header > nav {
		margin: var(--spacing-medium) 0;
		justify-content: space-between;
		width: 100%;
	}

	body > header > .locale-switch {
		display: block;
		position: absolute;
		top: var(--spacing-medium);
		transform: translateY(25%);
		right: var(--spacing-large);
		opacity: 0.55;
	}

	body > main > * {
		padding: 0 var(--spacing-medium);
	}

	body > main > *:first-child { margin-top: 0; }

	.media-object {
		display: flex;
		flex-wrap: wrap;
	}

	.media-object img, .media-object picture {
		margin-left: 0;
		margin-right: 0;
	}

	.media-object .content {
		/* It's either !important, or override odd and even again. */
		border-right: none !important;
		border-left: none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: var(--spacing-huge);
		flex-basis: 100%;
	}

	.media-object:nth-of-type(even)>img:not(.bg),
	.media-object:nth-of-type(odd)>img:not(.bg) {
		order: -1;
		width: 100%;
	}

	.columnar { padding-bottom: var(--spacing-medium); }

	.columnar ul {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		width: 100%;
		margin: 0;
		margin-top: var(--spacing-medium);
	}

	.columnar li {
		padding-left: 0;
		padding-right: 0;
		border-bottom: var(--grid-border);
		border-left: none;
	}

	.columnar li:last-child {
		border-bottom: none;
	}

	.columnar strong {
		display: block;
		font-size: var(--font-size-medium);
		margin-bottom: var(--spacing-medium);
	}

	.media-slideshow .content {
		display: flex;
		flex-wrap: wrap;
	}

	.media-slideshow > img {
		object-position: center center;
	}

	.media-slideshow .content h2 { padding-bottom: 0; }
	.media-slideshow h2 span { display: inline; }

	.media-slideshow h2::before{ display: none; border: 0; }

	.media-slideshow .marquee > ul > li {
		margin-right: var(--spacing-huge);
	}

	.marquee ul {
		animation: marquee 25s linear infinite;
	}

	.background-section h2 {
		font-size: var(--font-size-medium);
	}

	body:not(.home) .hero { height: 60vh; }

	#testimonials {
		padding: var(--spacing-huge) var(--spacing-medium);
	}

	body > footer > * {
		width: 100%;
		text-align: center;
	}

	body > footer {
		display: flex;
		flex-direction: column;
		padding: var(--spacing-medium) var(--spacing-large);
		text-align: center;
		justify-content: center;
	}

	body > footer > * {
		margin-left: auto !important;
		margin-right: auto !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#site-map ul { justify-content: center; }
	#contact-information > * {
		margin-left: auto;
		margin-right: auto;
	}
	#contact-information .social-links { justify-content: center; }
	#company-description { display: flex; justify-content: center; }


	#legal {
		display: flex;
		flex-direction: column;
		padding: var(--spacing-medium) var(--spacing-large);
	}
	#legal > * {
		text-align: center !important;
		margin-top: var(--spacing-small) !important;
		margin-bottom: var(--spacing-small) !important;
	}
	#legal > nav { display: block; margin: 0; }
	#legal > nav > a {
		margin: 0;
		display: block;
	}
}

@media only screen and (max-width: 550px) {
	html {
		--font-size-huge: 2.7rem;
		--font-size-large: 1.75rem;
		--font-size-tiny: 1rem;
	}
	body > footer {
		--brand-width: 50vw;
		padding: var(--spacing-medium);

	}

	#site-map ul {
		flex-direction: column;
		align-items: center;
	}

	#site-map a { line-height: 2; padding-top: 0.25em; padding-bottom: 0.25em; }

	#site-map ul > * { margin-left: 0; margin-right: 0; }

	.media-object.funky-bar {
		--bar-width: 4.5rem;
		--bar-height: 0.2em;
	}

	/* Logo sizing */
	#our-brands { margin-bottom: var(--spacing-huge); }
	.media-slideshow img.silex { height: auto; width: 3.75rem; }
	.media-slideshow img.concrete-lcda { height: 21px; }
	.media-slideshow img.finium { height: 39px; }
	.media-slideshow img.muraluxe { margin-top: 12px; }
	.media-slideshow img.accent-digital { height: auto; width: 6.85rem; }
}
