{{ define "head_end" }}
	{{ partial "stylesheet-link" "_showcase" }}
	{{ partial "stylesheet-link" "_slideshow" }}
	{{ partial "stylesheet-link" "_inquiry-form" }}
	{{ partial "script-src" "slideshow" }}
{{ end }}

{{ define "main" }}

{{ $blocks := (partial "get-section-pages" (partial "get-section-slug" .)) }}

{{ range (first 2 $blocks) }}
	{{ .Render (default "generic-block" .Params.render_as) }}
{{ end }}

{{ partial "product-showcase" . }}

{{ range (after 2 $blocks) }}
	{{ .Render (default "generic-block" .Params.render_as) }}
{{ end }}

{{ partial "inquiry-form" . }}

{{ end }}
