<div class="marquee">
	<ul>
		<li><img src="/images/brands/accent-digital.png" class='accent-digital' alt="Accent Digital"></li>
		<li><img src="/images/brands/concrete-lcda.svg" class='concrete-lcda' alt="Concrete LCDA"></li>
		<li><img src="/images/brands/finium.svg" class='finium' alt="Finium"></li>
		<li><img src="/images/brands/silex.png" class='silex' alt="Silex"></li>
		<li><img src="/images/brands/woodupp.svg" class='woodupp' alt="WoodUpp"></li>
		<li><img src="/images/brands/muraluxe.svg" class='muraluxe' alt="Muraluxe"></li>

		<li><img src="/images/brands/accent-digital.png" class='accent-digital' alt="Accent Digital"></li>
		<li><img src="/images/brands/concrete-lcda.svg" class='concrete-lcda' alt="Concrete LCDA"></li>
		<li><img src="/images/brands/finium.svg" class='finium' alt="Finium"></li>
		<li><img src="/images/brands/silex.png" class='silex' alt="Silex"></li>
		<li><img src="/images/brands/woodupp.svg" class='woodupp' alt="WoodUpp"></li>
		<li><img src="/images/brands/muraluxe.svg" class='muraluxe' alt="Muraluxe"></li>

		<li><img src="/images/brands/accent-digital.png" class='accent-digital' alt="Accent Digital"></li>
		<li><img src="/images/brands/concrete-lcda.svg" class='concrete-lcda' alt="Concrete LCDA"></li>
		<li><img src="/images/brands/finium.svg" class='finium' alt="Finium"></li>
		<li><img src="/images/brands/silex.png" class='silex' alt="Silex"></li>
		<li><img src="/images/brands/woodupp.svg" class='woodupp' alt="WoodUpp"></li>
		<li><img src="/images/brands/muraluxe.svg" class='muraluxe' alt="Muraluxe"></li>
	</ul>
</div>
