<ul>

	<li><img src="/images/clients/AzurPlomberie.svg" class='azur-plomberie' alt="Azur Plomberie"></li>
	<li><img src="/images/clients/CCLdesign.svg" class='ccl-design' alt="CCL design"></li>
	<li><img src="/images/clients/KBgroupeconstruction.svg" class='kb-construction' alt="KB Groupe Construction"></li>
	<li><img src="/images/clients/RenovationRaco.svg" class='reno-raco' alt="Renovation Raco"></li>
	<li><img src="/images/clients/GroupeLogix.svg" class='groupe-logix' alt="Groupe Logix"></li>
	<li><img src="/images/clients/PVdesign.png" class='pv-design' alt="Pamela Venne Design"></li>

</ul>
